@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .preserve {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .perspective-2000 {
    perspective: 2000px;
  }

  #a-card.open {
    transform: rotateY(180deg);
  }
}
